<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <description>Aplicacao responsavel por centralizar a camada de negócio da UnB</description>
  <display-name>unb-servico</display-name>
  <distributable/>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>aristo</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.border</param-name>
      <param-value>no</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.color</param-name>
      <param-value>black</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.space</param-name>
      <param-value>10</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaptcha</servlet-name>
    <url-pattern>/Kaptcha.jpg</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/publico/visao_expirada.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/publico/erro_interno.xhtml</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/publico/erro_interno.xhtml</location>
  </error-page>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>UnbLoginModule</realm-name>
    <form-login-config>
      <form-login-page>/paginas/login.xhtml</form-login-page>
      <form-error-page>/paginas/login.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>autenticado</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>view resources</web-resource-name>
      <description>liberado</description>
      <url-pattern>/paginas/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>view resources</web-resource-name>
      <description>restrito</description>
      <url-pattern>/paginas/restrito/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>autenticado</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>