{% extends "fpc_form.html" %} 
{% load fpc_tags %} 

{% block f_botoes %}
<div id="f_botoes" style="height:32px">
	<div id="barra_botao" data-ts="{{ ts.id }}" data-perm="{{ form.perm }}">
 		<button id="btn_pesquisar" type="button" class="btn btn-default btn-xs" onclick="fpc.pesquisar('{{ ts.id }}', false)" >
 			<i class="glyphicon glyphicon-search" />Imprimir Documento Agendado
 		</button>
	</div>
	<div id="f_botoes_esq"  style="float: right;">
		<button id="btn_nova_pesquisa" style="display:none;" type="button" class="btn btn-default btn-xs" onclick="fpc.novaPesquisa()">
			<i class="glyphicon glyphicon-chevron-left"/>Voltar
		</button>
		<button id="btn_volta_lista" style="display:none;" type="button" class="btn btn-default btn-xs" onclick="fpc.voltarParaLista()">
			<i class="glyphicon glyphicon-chevron-left"/>Voltar
		</button>
	</div>
</div>
{% endblock %}

