<div id="f_ler_edital" style="text-align:center">
   <div style="font-family:Arial;font-weight:bold" align="center">
      <font style="font-size:14px">Caro estudante</font>
   </div>
   <div style="margin: 16px">
      Antes de preencher o formulário preliminar, você deverá ler o edital no link:<a target ="_blank" href="https://www.saeweb.unb.br/saeweb/fronteira/editais/EditalAtual.pdf"> Edital</a>
   </div>
   <div style="margin: 8px">
      <input id="f_aceite" type="checkbox" name="f_aceite" />
      <label style="font-weight: bold" for="f_aceite">Declaro que li o Edital e concordo com os termos nele contidos.</label>      
   </div>
   <button id="btn_prox_etapa2" type="button" class="btn btn-default btn-xs" onclick="estudoSocioEconomicoForm.avanca_etapa()">
 			<i class="glyphicon glyphicon-chevron-right"></i>Próxima Etapa
   </button>
</div>
